body {
  font-family: sans-serif;
  text-align: center;
  margin: 50px;
  background-color: #f4f4f4;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}